.section {
    text-align: center;
}

.section-title {
    font-size: 2em;
    font-weight: bolder;
}


.nav-custom {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-brand-custom {
    font-size: 25px;
    font-weight: bold;
}


.ikp-form {
    width: 70%;
}

.custom-form-btn {
    width: 30%;
}

.custom-input-label {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.custom-output-label {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.custom-output{
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.custom-table-cell  {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 12px;
  text-align: left;
}

.custom-table-header {
  padding: 12px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
